<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <form action="/check" method="POST">
   <h2>Login Form</h2>

  <div class="container">
    <label for="uname"><b>search by train number</b></label>
    <input type="text" placeholder="train number" name="trainnumber" >

    <label for="password"><b> search by train name</b></label>
    <input type="text" placeholder="train name" name="trainname" >

    <button type="submit">submit</button>
  
 
</form>
</body>
</html>