<%- include("./partials/header.ejs") %>
<%- include("./partials/chore.ejs") -%>
<!-- this page is for dashboard where user can diagnose himself of can post articules -->
<div class="container text-center">
    <a href="/dashboard/generate"><button class="btn btn-primary">Create Article</button></a>
</div> 
