<%- include("./partials/header.ejs") %>
<%- include("./partials/chore.ejs") -%>
<link rel="stylesheet" href="/css/dashboard.css">
<!-- this page is for dashboard where user can diagnose himself of can post articules -->
<div class="container text-center">
    <div class="container-1">
        <button class="btn btn-primary"><a class="text-white" href="/dashboard/generate">Create Article</a></button>
        <p>Write article which can be helpful for someone.</p>
    </div>
    <div class="container-2">
        <button class="btn btn-primary"><a class="text-white" href="/dashboard/diagnosis">Diagnosis</a></button>
        <p>Find the Disease According to Your Symtom</p>
    </div>
</div> 
