<%- include("./partials/header") %>
<%- include("./partials/chore.ejs") -%>
<link rel="stylesheet" href="/css/diagnosis.css">
<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
  crossorigin="anonymous"
/>
<div class="symtom">
    <p>Choose Your Symtom</p>
    <select name="gender" class="form-control">
        <% data.forEach((val)=>{ %>
            <option value=<%=val.ID%>><%= val.Name%></option>
        <% }) %>
    </select>
    <button class="btn btn-primary"><a class="text-white" href="/dashboard/diagnosis">Diagnosis</a></button>
</div>