<%- include("./partials/header.ejs") %>
<%- include("./partials/chore.ejs") -%>
<link href="css/landing.css" rel="stylesheet" />
<div class="frontpage">
  <div class="frontpage-left">
    <div class="container">
      <h1 class="text-center main__head font-weight-bold text-weight-bold">Everyone is a doctor</h1>
      <h3 class="text-center sub__head mt-0">An website to preseve the old culture</h3>
      <p class="text-center tert__head">&#128526; -By Ultra noobs &#128526;</p>
    </div>
  </div>
  <div class="frontpage-right">
   <!-- <img> <h1>&#128527;</h1></img> -->
    <img src="images/illus.jpg" alt="Right-Side-Illustration" />
  </div>
</div>