<%- include("./partials/header.ejs") %>
<%- include("./partials/chore.ejs") -%>
<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
  crossorigin="anonymous"
/>
<link rel="stylesheet" href="css/sign-in.css" />
<div class="container mt-5">
  <form method="POST" action="/register">
  <h1 class="text-center">Registration</h1>
    <label class="mt-2">Name</label>
    <input
      type="text"
      class="form-control"
      placeholder="Enter your name"
      name="name"
      id="fname",
      required
    />
    <label class="mt-2">Gender</label>
    <select name="gender" class="form-control">
        <option value="male">Male</option>
        <option value="female">Female</option>
    </select>
    <label class="mt-2">Date Of Birth</label>
    <input type="date" name="date" id="age" class="form-control" required /> 
    <label class="mt-2">Email</label>
    <input
      type="email"
      class="form-control"
      placeholder="Enter your email address."
      name="usremail"
      id="usremail",
      required
    />
    <label class="mt-2">Create Password</label>
    <input
      type="password"
      class="form-control"
      placeholder="Enter password"
      name="psw"
      type="password" 
      id="psw"
      pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" ,
      required
    />
    <label class="mt-2">Re-enter Password</label>
    <input
      type="password"
      class="form-control"
      placeholder="Re enter password"r5e
      name="repsw"
      id="repsw",
      required
    />
    <button type="submit" class="btn btn-primary mt-3" onclick="completionMessage()">Register</button>
  </form>