.customimage
{
    height:200px;
    width:200px;
}
.customcard
{
    background-color: rgb(0, 255, 200);
}
.infos
{
    font-size:20px;
}
.cardbody
{
    height:230px;
    min-height: 230px;
}
.cardimage
{
    height:80px;
    width:80px;
}