<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.foodapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FoodApp"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">

        <activity
            android:name=".ConfirmActivity"
            android:label="Confirmation"
            android:windowSoftInputMode="stateVisible|adjustPan" />
        <activity
            android:name=".PayActivity"
            android:label="Payment Options:"
            android:windowSoftInputMode="stateVisible|adjustPan" />
        <activity
            android:name=".BillActivity"
            android:label="Your Bill:"
            android:windowSoftInputMode="stateVisible|adjustPan" />
        <activity
            android:name=".OrderActivity"
            android:label="Your Cart:"
            android:parentActivityName=".HomeActivity"
            android:windowSoftInputMode="stateVisible|adjustPan" />
        <activity
            android:name=".QtyActivity"
            android:label="You Have Selected:"
            android:parentActivityName=".HomeActivity"
            android:windowSoftInputMode="stateVisible|adjustPan" />
        <activity
            android:name=".ItemActivity"
            android:label="Items"
            android:parentActivityName=".HomeActivity"
            android:windowSoftInputMode="stateVisible|adjustPan" />
        <activity
            android:name=".HomeActivity"
            android:label="Food App Menu"
            android:windowSoftInputMode="stateVisible|adjustPan" />
        <activity
            android:name=".RegisterActivity"
            android:label="Sign Up"
            android:parentActivityName=".MainActivity"
            android:windowSoftInputMode="stateVisible|adjustPan" />
        <activity android:name=".MainActivity" />
        <activity
            android:name=".OptionsActivity"
            android:label="Food App"
            android:windowSoftInputMode="stateVisible|adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>