.property{
border: 5px solid white;
border-radius: 10px;
display: grid;
grid-template-columns: 1fr 1fr;
}

.home{
    width: 500px;
}


.prop{
    padding: 6px;
}

.field{
    font-size: 1.2em;
    font-weight: bold;
    color: #464866;
}

