<link rel="stylesheet" href="/css/header.css" />
<body>
  <div class="containers" id="nav-color">
    <nav class="nav navbar navbar-expand-lg navbar-dark header-navbar" id="nav-color">
      <a class="navbar-brand text-white" href="/">E-Doctor</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="ml-auto navbar-nav">
          <% if(!locals.user || user==null){ %>
            <li class="mr-2">
              <a class="nav-link link text-white" style="font-size:20px;" href="/register">
                SignUp
              </a>
            </li>
            <li class="mr-2">
              <a class="nav-link link text-white" style="font-size:20px;" href="/auth/login">
                SignIn
              </a>
            </li>
          <% }else{ %>
            <li class="mr-2">
              <a class="nav-link link text-white" style="font-size:20px;" href="/auth/logout">
                LogOut
              </a>
            </li>
          <% } %>
        </ul>
      </div>
    </nav>
  </div>
</body>