<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-Doctor</title>
    <link rel="stylesheet" href="css/header.css" />
</head>
<body>
  <div class="containers" id="nav-color">
    <nav class="nav navbar navbar-expand-lg navbar-light bg-secondary header-navbar" id="nav-color">
      <a class="navbar-brand text-white" href="/">E-Doctor</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="ml-auto navbar-nav">
          <li class="mr-2">
            <a class="nav-link link text-white" style="font-size:20px;" href="register"
              ><i class="fa fa-plus fa-sm" style="font-size:20px;" aria-hidden="true"></i>
              SignUp</a
            >
          </li>
          <li class="mr-2">
            <a class="nav-link link text-white" style="font-size:20px;" href="login"
              ><i class="fa fa-plus fa-sm" style="font-size:20px;" aria-hidden="true"></i>
              SignIn</a
            >
          </li>
        </ul>
      </div>
    </nav>
  </div>
</body>
</html>