@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');

/* {
    background-color: #1A1A1D;
} */
.header{
    height: 20%;
    padding: 10px;
    background-color: #1A1A1D;
    
}

.name{
    font-family: 'Anton', sans-serif;
    font-size: 100px;
    color: #6f2232;
}

.tagline{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 30px;
    color: white;
}

.tabs{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 20%;
    text-align: center;
    margin-left: 0;
    padding-left: 500px;
    padding-right: 700px;
    background-color: #6f2232;
}

.tab{
    border: 1px solid whitesmoke;
    font-weight: bold;
    color: white;
    padding: 5px 0px 5px 10px;
    text-align: center;
    padding: 20px;
    font-size: 20px;
    transition: 0.3s all;
}

.tab:hover{
    background-color: #6f2232;
    cursor: pointer;
}

.methods{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 20%;
    text-align: center;
    /* margin-left: 35%; */
    padding: 50px;
}

.method{
    border: 1px solid whitesmoke;
    /* font-weight: bold; */
    color: white;
    /* padding: 5px 0px 5px 10px; */
    text-align: center;
    padding: 10px;
    /* font-size: 20px; */
    transition: 0.3s all;
}